<div class="d-flex mt-2">
    <p class="text-small text-grey-dk-000 mb-0 mr-2">
        Page last modified: <span class="d-inline-block">{% last_modified %}</span>
    </p>
    <p class="text-small text-grey-dk-000 mb-0">
        <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}{% if page.collection and site.collections_dir %}/{{ site.collections_dir }}{% endif %}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
    </p>
</div>
