<div class="socials">
    <a href="https://discord.com/invite/tnsePcW8HY" class="btn">
      <img src="{{ site.baseurl }}/assets/images/discord_logo.svg" alt="Discord Logo">
    </a>
    <a href="https://www.youtube.com/" class="btn">
      <img src="{{ site.baseurl }}/assets/images/youtube_logo.svg" alt="YouTube Logo">
    </a>
    <a href="https://groups.google.com/g/catrobat" class="btn">
      <img src="{{ site.baseurl }}/assets/images/google_logo.svg" alt="Google Group Logo">
    </a>
    <a href="https://www.facebook.com/CatrobatPocketCode" class="btn">
      <img src="{{ site.baseurl }}/assets/images/facebook_logo.svg" alt="Facebook Logo">
    </a>
    <a href="https://twitter.com/Pocket_Code" class="btn">
      <img src="{{ site.baseurl }}/assets/images/twitter_logo.svg" alt="Twitter Logo">
    </a>
</div>