<div class="socials">
    <a href="https://www.youtube.com/@CatrobatOrgAdmin" target="_blank" class="btn">
      <img src="{{ site.baseurl }}/assets/images/youtube_logo.svg" alt="YouTube Logo">
    </a>
    <a href="https://groups.google.com/g/catrobat" target="_blank" class="btn">
      <img src="{{ site.baseurl }}/assets/images/googlegroups_logo.svg" alt="Google Group Logo">
    </a>
    <a href="https://www.facebook.com/CatrobatPocketCode" target="_blank" class="btn">
      <img src="{{ site.baseurl }}/assets/images/facebook_logo.svg" alt="Facebook Logo">
    </a>
    <a href="https://twitter.com/Pocket_Code" target="_blank" class="btn">
      <img src="{{ site.baseurl }}/assets/images/x-logo.svg" alt="Twitter Logo">
    </a>
</div>